/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1.5fr repeat(4, 2fr) 1fr;
	grid-template-areas:
	"header  header"
	"library counter"
	"library form"
	"library form"
	"library form"
	"footer  footer";
}

/* begin header styles */
.header {
	grid-area: header;
	background-color: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.title, .subtitle {
	padding: 10px;
}

.title {
	font-size: 3rem;
}

.subtitle {
	font-size: 1.5rem;
}

/* end header styles */

.inputForm {
	grid-area: form;
	background-color: brown;
}

.counter {
	grid-area: counter;
	background-color: orange;
}

.cardHolder {
	grid-area: library;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 20vh 20vh;
  gap: 10px;
}

.card {
  display: grid;
  place-items: center;
  border: 1px black solid;
  background-color: red;
  border-radius: 20px;
}

/* begin footer styles */
.footer {
	grid-area: footer;
	display: flex;
	background-color: blue;
	justify-content: space-around;
	align-items: center;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: red;
}

.footerLink, .copyright {
	padding: 20px;
}

.copyright {
	color: white;
}
/* end footer styles */
